<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="server_ip" value="127.0.0.1"/>
		<add key="server_port" value="2555"/>
		<add key="iNumMaxClients" value="2"/>
	</appSettings>
	<connectionStrings>
		<add name="cs_main" connectionString="Data Source=ETS-ZEMUN\SQLEXPRESS;Initial Catalog=FleetManager;User ID=ETS-ZEMUN-APP;Password=etszemunapp;"/>
	</connectionStrings>
</configuration>